.circle {
    position: absolute;
    border-radius: 50%;
    height: 1000px;
    width: 1000px;
    background-color: white;

    &-1 {
        right: 50%;
        transform: translate(0, -50%);
        background-image: linear-gradient(to right top, $color-primary 0%, $color-primary 25%, $color-primary-light);
    }

    &-2 {
        left: 50%;
        bottom: 0;
        transform: translate(0%, 55%);
        background-image: linear-gradient(to left top, $color-primary 0%, $color-primary 40%, $color-primary-light);
    }
}
