@import "./variables.scss";
@import "./card";
@import "./circles";

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 10px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
  background-color: $color-primary;
  font-size: 18px;
  font-family: "Kumbh Sans";
  height: 100vh;
}


@media (max-width: 460px) {
  .card {
    min-width: 300px;
  }

  .circle-2 {
    transform: translate(0, 50%);
  }
}